.calendar-header-table {
    background-color: white;
    color: mediumvioletred;
    font-size: x-large;
    width: 100%;
    text-align: center;
    margin-bottom: -26px;
}

.calendar-cell-table {
    background-color: white;
    width: 100%;
    margin-top: 25px;
    border: 1px black solid;
    text-align: center;
}

.calendar-header-table td {
  width: calc(100%/7);
  border: 1px black solid;
}
.calendar-cell-table td {
  text-align: left;
  vertical-align: top;
  width: calc(100%/7);
  min-height: 100px;
  height: 100px;
  border: 1px black solid;
}

.isToday {
  background-color: yellow;
  font-size: 20px;
}